[core]
	editor = vim
	autocrlf = false
  excludesfile = ~/.gitignore
[user]
	name = Jyri Kytömäki
	email = jyri.kytomaki@reaktor.com
[credential]
  helper = osxkeychain
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	d = diff
	com = commit -v
	co = checkout
	cp = cherry-pick
	diffc = diff --cached
	l = log
	ll = log -p
	b = branch
	br = branch
	info = !"git config --list | grep ^remote.origin.url |  cut -d = -f 2"
[rerere]
	enabled = true
[format]
	numbered = auto
[push]
	default = current
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
	mergeoptions = --no-commit --no-ff
[branch "devel"]
	rebase = true
[branch "develop"]
	rebase = true
[fetch]
	prune = true
[url "git@github.com:"]
	insteadOf = https://github.com/
